{% extends 'foods/base.html' %}
{% block content %}
{% load static %}
<header class="sub text-center" style="background-image:url({{ product.image_url }});padding:0;">
    <div class='selected'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                {% if product.image_url %}
                    <img class="p-1 bg-white product-image" src="{{ product.image_url }}" alt="Image prouduit">
                {% else %}
                    <img class="p-1 bg-white product-image" src="{% static 'foods/img/noimage.png' %}" alt="Image prouduit">
                {% endif %}
                    <h4 class="mt-3 product-title">{{ product.product_name}} {{product.brands}} {{ product.quantity }}</h4>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">

        <div class="row justify-content-center mb-5">
            <div class="col-md-6">
                <h4>Note nutritionnelle de couleur NutriScore</h4>
                <img src = "{% static image_score %}">
            </div>
            <div class="col-md-6">
                <h4 class="mb-4">Repères nutritionnels pour 100 g</h4>
                <ul>
                    <li>{{ product.fat_100g }}g <b> Matières grasses / Lipides </b></li>
                    <li>{{ product.saturated_fat_100g }}g<b> Acides gras saturés</b></li>
                    <li>{{ product.sugars_100g }}g<b> Sucres</b></li>
                    <li>{{ product.salt_100g }}g<b> Sel</b></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{{ product.url }}" target="_blank">
                    <button class="btn btn-primary">
                        Voir la fiche d'OpenFoodFacts
                    </button>
                </a>

            </div>
        </div>



</section>

{% endblock %}