{% extends 'foods/base.html' %}
{% block content %}

<header class="sub text-center">

    <h1>Substitutes</h1>

</header>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form method="POST">{% csrf_token %}
                    <p class='product-title text-center'>Etes-vous sûr que vous voulez supprimer
                    "
                    {% if sub %}
                        <b>{{ sub.product_name }}</b> {{ sub.brands }} {{sub.quantity}}
                    {% else %}
                        <b>{{ selected.product_name }}</b> {{ selected.brands }} {{selected.quantity}}
                    {% endif %}
                    "
                    &nbsp; ?</p>
                    <div class="text-right">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                        <button onclick="window.history.back();" class="btn btn-secondary" type="button"> Annuler</button>
                    </div>
                </form>


            </div>
        </div>
</section>

{% endblock %}