{% extends 'foods/base.html' %}
{% block content %}
{% load static %}
<header class="masthead text-center text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <h1 class="text-uppercase"><b> gras, oui mais de qualité !</b></h1>

                <hr>
            </div>
            <div class="col-lg-6">
                <p class="mb-5">Trouvez un produit de substitution pour ceux que vous consommez tout les jours.</p>
                {% include 'foods/search_form.html' %}
            </div>
        </div>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center mb-4">
                <h2 class="section-heading">Cloette & Rémy</h2>
                <hr>
                <h4>De la ratatouille aux croissants</h4>
                <p>Pur Beurre est l'initiative de deux amoureux de la gastronomie française,
                    Colette Tatou
                    et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center d-flex flex-column">
                <div class="text-justify mb-auto ">"Nous aimons tous manger, surtout en France !
                    Personnellement, une
                    baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout
                    le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout
                    lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que
                    j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !" </div>
                <div class="">
                    <img src="{% static 'foods/img/colette.png' %}" alt="Colette" class="profile border" width="150"
                        height="150">
                    <p class=""><strong>Colette Tatou</strong></p>
                </div>
            </div>


            <div class="col-lg-5 text-center d-flex flex-column">
                <div class="text-justify mb-auto"> "Pour ma part je me rendais déjà dans bien des
                    magasins car
                    j'aime beaucoup me balader, surtout
                    dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je
                    raffole)
                    ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait
                    remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver.
                    L'idée
                    de Pur Beurre était née !"</div>
                <div class="">
                    <img src="{% static 'foods/img/remy.jpg' %}" alt="Rémy" class="profile border" width="150" height="150">
                    <p class=""><strong>Rémy</strong></p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="bg-primary text-white" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">Contactez-nous !</h2>
                <hr class="light my-4">
                <p class="mb-5">Vous avez la possibilité de nous contacter par téléphone ou courrier.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a class="contact" href="mailto:pur.beurre@purbeurre.com">pur.beurre@purbeurre.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}