{% extends 'foods/base.html' %}
{% block content %}

<header class="sub text-center">

    <h1 class="text-uppercase">Mes Aliments</h1>

</header>
<section>
    <div class="container">

        <p>
            <b>Ma liste d'alimentations:</b>
        </p>
        <table class="table table-borderless">
            <thead class="thead-light">
                <tr class="text-center">
                    <th colspan="2">Mes Aliments</th>
                    <th colspan="2">Substituts</th>
                </tr>
            </thead>
            <tbody>
                {% for food in myfoods %}
                {% if food.foods_set.all %}
                <tr class="border-top">
                    <td rowspan="{{ food.foods_set.all|length }}">
                        {% if food.nutrition_grades != "None" %}
                        <div class="circle bg-{{ food.nutrition_grades }}">
                            {{food.nutrition_grades|upper}}
                        </div>
                        {% endif %}
                    </td>
                    <td rowspan="{{ food.foods_set.all|length }}">
                        <a class="product-title myfood-link" href="{% url 'foods:detail' food.code %}">
                            <b>{{ food.name }}</b> {{ food.brands }} {{ food.quantity }}
                        </a>
                        &nbsp;&nbsp;<a class="delete" href="{% url 'foods:delete' food.id %}"><i class="fas fa-times"></i></a>
                    </td>
                    {% for sub in food.foods_set.all %}
                    <td>
                        {% if sub.nutrition_grades != "None" %}

                        <div class="circle bg-{{ sub.nutrition_grades }} h-100">
                            {{sub.nutrition_grades|upper}}
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class='d-inline-block'>
                            <a href="{% url 'foods:detail' sub.code %}" class='myfood-link product-title'>
                                <b>{{ sub.name }}</b> {{ sub.brands }} {{ sub.quantity }}
                            </a> &nbsp;&nbsp;<a class="delete" href="{% url 'foods:delete' sub.id %}"><i class="fas fa-times"></i></a>
                        </div>

                    </td>
                </tr>

                {% endfor %}
                {% else %}
                <tr>
                    {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</section>

<script>
    $(function () {

        $(".product-id").on('click', function () {
            var id = $(this).val();
            alert(id);
            $("form#delete").attr("action", ("/foods/delete/%d", id));
        });

    });
</script>

{% endblock %}