<!-- Navigation -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container d-flex frex-row">

        <div class="mr-auto">
            <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}#page-top"><img class="logo d-inline-block"
                    src="{% static 'foods/img/logo.png' %}" alt="Pur Beurre"><span class="align-middle">&nbsp;Pur
                    Beurre</span></a>
        </div>
        <div class="pr-2">
            <form action="{% url 'foods:search' %}" method="GET" accept-charset="utf-8">
                <div class="input-group">
                    <input class="form-control" type="text" name="query">
                    <div class="input-group-append">
                        <button class='btn btn-loupe'><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="pl-2">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    {% comment %} <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'index' %}#contact">Contact</a>
                    </li> {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'users:account' %}"><i class="fas fa-user fa-2x"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'foods:myfoods' %}"><img class="carrot" src="{% static 'foods/img/carrot.png'%}"
                                alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'login' %}"><i class="far fa-user fa-2x"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>


</nav>