{% extends 'foods/base.html' %}
{% block content %}
<header class="text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1>Selectionnez un proudit à remplacer</h1>

                <hr>
            </div>
            <div class="col-lg-8">
                {% include 'foods/search_form.html' %}
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        {% if status == "ok" %}
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 text-center">
                <div class="image-border">
                    <span class="helper"></span>
                    <div class="image">
                        {% if product.nutrition_grades != "None" %}
                        <div class="grade bg-{{ product.nutrition_grades }}">
                            <h1>{{ product.nutrition_grades }}</h1>
                        </div>

                        {% endif %}
                        <a href="{% url 'foods:subs' product.code %}">
                            <img src="{{ product.image_small_url }}" alt="Image de porudit">
                        </a>
                    </div>

                </div>
                <div class="p-2">
                    <p class="name">
                        <a class="product-title" href="{% url 'foods:subs' product.code %}">
                            <b> {{ product.product_name }}</b><br>
                            {{ product.brands }} {{ product.quantity}}
                    </p></a>
                </div>
            </div> {% endfor %}
        </div>
    </div> {% else %} <div class="col p-2 text-center">
        <h1 class="text-uppercase">{{ status }}</h1>
    </div>
    {% endif %}
    </div>

</section>
{% endblock %}