{% extends 'foods/base.html' %}
{% block content %}
<header class="sub text-center" style="background-image:url({{ selected.image_url }});padding:0;">
    <div class='selected'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 text-center">
                    <div class="image mb-3">
                        {% if selected.nutrition_grades != "None" %}
                        <div class="grade bg-{{ selected.nutrition_grades }}">
                            <h1>{{ selected.nutrition_grades }}</h1>
                        </div>

                        {% endif %}
                        <a href="{% url 'foods:detail' selected.code %}">
                            <img class="border p-1 bg-white" src="{{ selected.image_small_url }}">
                    </div>
                    <h4><a class="product-title" href="{% url 'foods:detail' selected.code %}">
                            <b> {{ selected.product_name_fr }}</b><br>
                            {{ selected.brands }} {{ selected.quantity}}
                        </a>
                    </h4>
                    {{ selected|json_script:"selected" }}
                </div>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    <p class='connect'><a href="{% url 'login' %}">Conntectez-vous</a> pour enregistrer vos aliments</p>
    {% endif %}
</header>

<section>
    <div class="container">
        <div class="row">
            {% if status == "ok" %}
            {% for sub in products %}
            <div class="col-sm-12 col-md-6 col-lg-4 text-center d-flex flex-column">
                <div class="image-border">
                    <span class="helper"></span>
                    <div class="image">
                        {% if sub.nutrition_grades != "None" %}
                        <div class="grade bg-{{ sub.nutrition_grades }}">
                            <h1>{{ sub.nutrition_grades }}</h1>
                        </div>

                        {% endif %}
                        <a href="{% url 'foods:detail' sub.code %}">
                            <img src="{{ sub.image_small_url }}" alt="Image de produit">
                        </a>
                    </div>
                </div>
                <div>
                    <p class="name">
                        <a class="product-title" href="{% url 'foods:detail' sub.code %}">
                            <b> {{ sub.product_name_fr }}</b><br>
                            {{ sub.brands }} {{ sub.quantity}}
                        </a>
                    </p>
                </div>
                {% if user.is_authenticated %}
                <div class='mt-auto mb-5 '>
                    <button class="save btn" value="{{ sub.code }}"><i class="far fa-save"></i> Enregistrer</button>
                    {{ sub|json_script:sub.code }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="col text-center">
                <h1 class="text-uppercase">{{ status }}</h1>
            </div>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}