{% extends 'foods/base.html' %}
{% block content %}
{% load crispy_forms_tags%}
<header class="text-center">

    <h1>Bonjour, {{ user.username }} !</h1>

</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if messages %}
                {% for message in messages %}
                <div class="d-inline-block w-50 alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <p class='text-center'>
                    Enregistrez votre adresse e-mail et recevoir une notification pour <b>Pur Beurre version 2</b>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col mx-5 text-center">
                <div class="d-inline-block">
                    {% crispy form form.helper%}
                </div>


            </div>
        </div>
    </div>





</section>
<script>
    $(document).ready(function () {
        $("input#id_email").attr("placeholder", "{{ user.email }}");
    });
</script>
{% endblock %}