{% extends 'foods/base.html' %}
{% block content %}
{% load crispy_forms_tags%}
<header class="text-center">

    <h1>Bonjour, {{ user.username }} - {{user.email}}!</h1>

</header>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-10">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <p class='text-center'>
                    Enregistrez votre adresse e-mail et recevoir une notification pour <b>Pur Beurre version 2</b>.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">

                {% crispy form form.helper%}


            </div>
        </div>
    </div>





</section>
<script>
    $(document).ready(function () {
        $("input#id_email").attr("placeholder", "{{ user.email }}");
    });
</script>
{% endblock %}