{% extends "foods/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="bg-primary py-5">
    <div class="text-center">
        <h1>you have been logged out</h1>
    </div>

</header>
<section>
    <div class="conent">
        <div class="row">
            <div class="col-8">
                <div class="border-top pt-3">
                    <small class="text-muted">Already have an account? <a href="{% url 'login' %}">Login Again</a>
                    </small>
                </div>
            </div>
        </div>
</section>
{% endblock %}