{% extends 'foods/base.html' %}
{% block content %}

<header class="text-center py-5 bg-primary">

    <h1>Substitutes</h1>

</header>
<section>
    <div class="container bg-light">
        <div class="row">
            <div class="col-lg-12 text-left">
                <p>hello, {{ user.username }}</p>
                <table>
                    <th>my foods </th>
                    <th>substitutes</th>
                    {% for food in myfoods %}
                    <tr>
                        <td>
                            <ul>
                                <li>{{ food.name }} - {{ food.created_at }}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for sub in food.foods_set.all %}

                                <li>{{ sub.name }}</li>

                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}